{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Welcome</title>
        <link rel="stylesheet" href="{% static 'css/error.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="made-up">
            <h1> Welcome !<br></h1>
            <h3>  You can now browse the platform. </h3>
            <button type="submit" class="btn"> <a href="/#/"> Continue </a></a>
        </section>
    </body>
</html>