@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  height: 80%;
}

.container{
	position: relative;
	width: 100%;
	min-height:20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
  background-color: #dfdfdf;
}

.contact-box{
	max-width: 600px;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  background: #fff;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #00999c;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #00999c;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

a
{
	text-decoration: none;
}

.btn:hover{
  background-color: #0a2122;
  transition: 0.5s;
}

.options{
  position: flex;
  padding: 15px 0 0 0;
}
.option:hover{
  cursor: pointer;
  color: #00999c;
  transition: 0.16s;
}
.one{
  float: right;
  margin-right: 10px;
  color: #000;
}
.two{
  float: left;
  color: #000;
}
a{
	text-decoration: none; 
}
.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}