//Fonts
$MainFont :Candara;

//Couleurs
$bggray:#f9f9f9;
$lightGray:#c4e4db;
$darkGray:#ccc;
$yamiyami:#555;
$banner_bg_1:#0d8d99;
$banner_bg_2:#0d7d99;
$banner_bg_3:#0d5b99;
$header_border:#2395a2;
$lightBlue: #82c4ca;
$gren: #2b647b;
$blues:#0576a0;



//Ce bout de code tombé du ciel organise les flotant sur notre page web

.clearfix:before, .clearfix:after
{
	content: " ";
	display: table;
}

.clearfix:after
{
	clear: both;
}

//Ce bout de code tombé du ciel organise les flotant sur notre page web
.wrapper
{
	width: 1040px;
	max-width: 90%;
	margin:0 auto;
}

//Main Styles
body
{
	font-family: $MainFont, Helvetica, Arial, sans-serif;	
	background-color: $bggray;
//Banner
.banner
{
	background-color: $banner_bg_1;
	background-image: linear-gradient(
	$banner_bg_1,
	$banner_bg_2 60%,
	$banner_bg_3
	);

	#top_header
	{
	padding: .7em 0;
	border-bottom: 1px solid $header_border;

		#icon
		{
			height: 50px;
			opacity: 70%;
			margin-bottom: -10px;
		}
		
		a
		{
			font-size: 1em;
			color: $lightBlue;
			text-decoration: none;
			margin-right: 20px;
			
			&.brand
			{
				float: left;
				font-weight: 600;
				transition: transform 0.5s ease-out;

				span
				{
					border: 2px solid $lightBlue;
					border-radius: 100%;
					display: inline-block;
					width:46px;
					height: 46px;
					line-height: 46px;
					font-weight: 400;
					text-align: center;
					margin-right: .3em;
				}

				&:hover
				{
					color:white;
					transform: scale(1.1, 1.1);

				}

			}

			&.back_button
			{
				float: right;
				font-weight: 600;
				margin-top: .9em;
				transition: transform 0.5s ease-out;

				&:hover
				{
					color:white;
					transform: scale(1.1, 1.1);

				}
			}

			


		}

	}

	.intro
	{
		padding:3.5em 0 0 0;
		text-align: center;
		color: white;

		.logo
		{
			width: 140px;
			height: auto;
		}

		h1
		{
			font-size: 2em;
			margin:.3em 0;
		}

		p
		{
			width: 700px;
			//centrer le p
			margin:0 auto;
			//si larguer de fentre < 700px alors largeur du p = 70% de largeur fentre
			max-width: 70%;
			//interligne
			line-height: 1.5;
			font-size: 1.1em; 
			color: $lightGray;
			padding:.4em 0 2em 0;
		}

		.download_buttons
		{
			a.button
			{
				
				background-color: $lightGray;
				color: $blues;
				text-decoration: none;
				padding:0.6em 1.6em;
				border-radius: 6px;
				//le lien a agis comme un div
				display: inline-block;
				min-width: 200px;
				max-width: 100%;
				font-size: 1.1em;
				margin-left: 1.3em;

				i
				{
					float: left;
					color: $blues;
					margin-right: .3em;
				}

				span
				{
					float: left;
					margin-top: .4em;
				}

				&:hover
				{
					background-color: #fff	;	
				}
				
				
			}
		}

		.mobile_apps
		{
			margin-top: 4em;
			font-size: .9em;

			.button
			{


				display: inline-block;
				background-color: $gren;
				border-radius: 6px;
				width: 180px;
				min-width: 180px;
				max-width: 100%;
		
				&:hover
				{
					background-color: darken($gren, 4%);
				}
				
				img
				{
					width: 100%;
					max-width: 100%;


				}
			}
		}

		.apps_preview
		{
			margin: 4em auto;
			width: 90%;
			margin-bottom: -12em

		}
	}

}

//Tools
.tools ,.team
{

	margin-top: 7em ;

	h3
	{
		font-size: 2em;
		font-weight: 400;
		color:#888;
		text-align: center;
		margin-bottom: 2em;
	}

	ul
	{
		list-style: none;
		margin:0;
		padding: 0;
		text-align: center;

		li
		{
			width: 25%;
			float: left;
			text-align: center;

			a
			{

			color: $yamiyami;
			text-decoration: none;

				h4
				{

					font-size: 1.4em;
					font-weight: 400;
					margin:.5em 0 .3em 0;		
				}

				p
				{
					color: #222;
					max-width: 80%;
					margin:.8em auto;
				}
				
				
				img
				{
					width: 50%;
					max-width: 120%;
					padding:0;
					margin:0;
					
				}
			}
		}
	}
}



.ligne
{
	margin:6em auto 0 auto;
	width: 70%;
	max-width: 100%;
	height: 3px;
	background-color: $yamiyami;
	text-align: center;
	border-radius: 1px;
}

footer
{
	margin:2em auto;
	padding:1em auto;
	text-align: center;

	p
	{
		span
		{
			font-style: italic;

			a
			{
				text-decoration: none;
			}

		}

		&.copyright
		{
			color: $yamiyami;
		}
	}

	img
	{
		width: 4em;
	}

	
}



}